langchain
openai
langchain-community
ipykernel
arxiv
bs4
langchain-openai
langchain-text-splitters
langgraph
pydantic
pymupdf
pypdf
python-dotenv
rich
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-core
notebook
langchain-tavily
trustcall
langgraph-cli[inmem]
langchain-google-genai
langchain-groq